#background {
        background-image: url("blue-background.png");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .caixadetexto 
    { 
        color: black; 
        font-weight:800; margin-top:25px; 
        padding-left:5px; 
        font-size:14px; 
        border-radius:17px; 
        border: 1px solid rgb(255, 0, 0); 
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        box-shadow: 2px -3px 1px rgb(220, 220, 220);
        background: transparent;
    } 
    #form {
        color: black;
        font-size: 14px;
        font-weight: 700;
        padding-left: 4px;
        font-family: Verdana;
        position: absolute;
        padding-bottom: -12%;
        text-align: center; 
    }
    #prgf {
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: bold;
        font-family: Verdana;
        position: relative;
    }
    #parag {
        color: black;
        font-size: 12px;
        font-weight: 500;
        font-family: Verdana;
        position: relative;
    }
    #buton {
        border: none;
        border-radius: 2px;
        color: white;
        font-family: monospace;
        font-weight: 200;
        font-size: 16px;
        cursor: pointer;
        padding: 1%;
        text-align: center;
        width: 130px;
        background-color: #2874A6;
        padding-bottom: .6%;
        padding-top: .6%;
        padding-left: 12%;
        padding-right: 15%;  
    }
    #login {
        margin-top: 5%;
    }
    #tbl {
        padding-bottom: 8%;
        float: none;
    }
    #cadastro {
  position: absolute;
  top: 70px;
  width: 88%;
  padding: 18px 6% 60px 6%;
  margin: 0 0 35px 0px;
   
  -webkit-box-shadow: 9px;  
  border-radius: 5px;
   
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
 
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
    }
    hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, transparent, rgb(66, 28, 28), transparent);
        width: 400px;
    }
    #remember {
        font-family: Arial;
        font-style: normal;
        font-size: 15px;
        position: relative;
        padding-left: 27%;
    }
    #forgot {
        font-family: Arial;
        font-style: normal;
        font-size: 15px;
        position: relative;
        padding-left: 14%;
    }
    .eyeb {
        max-width: 200px;
        width: auto;
    }
    #tbl2 {
        height: 120%;
        width: 70%;
        background: #EAEAEA;
        border: 1px solid rgb(165, 165, 165);
        padding-bottom: 6%;
    }